/* Sidebar container */

.sidebar {
    width: 240px;
    background: var(--sidebar-bg) !important;
    min-height: 100vh;
    padding: 10px;
    color: var(--sidebar-text);
    position: fixed;
    top: 0px;
    left: 0;
    overflow-y: auto;
    transition: all 0.3s ease;
    z-index: 1000;
}

/* Logo area */
.sidebar .sidebar-logo {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    color: var(--sidebar-text);
    border-bottom: 2px solid var(--sidebar-text);
    margin-bottom: 10px;
}


/* Main menu list */
.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin: 5px 0;
}

/* Menu item button */
.sidebar button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: none;
    border: none;
    width: 100%;
    padding: 10px 15px;
    color: var(--sidebar-text);
    font-size: 14px;
    cursor: pointer;
    text-align: left;
    text-decoration: none;
    border-radius: 6px;
    transition: background 0.2s;
}

.sidebar button:hover {
    background: var(--sidebar-hover-bg);
}

/* Submenu */
.submenu {
    list-style: none;
    padding-left: 15px;
    margin: 5px 0;
    /* background: var(--submenu-bg); */
    border-radius: 4px;
}

.submenu li {
    margin: 5px 0;
}

.submenu a {
    display: block;
    padding: 8px 15px;
    font-size: 13px;
    color: var(--submenu-text);
    text-decoration: none;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.submenu a:hover {
    background: var(--submenu-hover-bg);
    color: var(--submenu-hover-text);
}

/* Nested submenu (second level) */
.submenu .submenu {
    padding-left: 20px;
    background: #3a3a55;
}

/* Arrow icon */
.sidebar i {
    font-size: 12px;
}


/* Sidebar toggle button */
.side-bar-extent-btn {
    font-size: 22px;
    cursor: pointer;
}
